@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-hero-bg text-white font-sans overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display uppercase tracking-tight;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .text-outline-green {
    -webkit-text-stroke: 1px #6EE7B7;
    color: transparent;
  }
}